body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #532828;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    height: 50px;
    background-color: #222;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}