body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url(https://wallpaper.forfun.com/fetch/c1/c106475dca9b6ebc5771abce1fc95782.jpeg);
    background-size: cover;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    height: 50px;
    background-color: #222;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 25%;
    height: 60px;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    font-size: 1.5em;
    cursor:pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:active {
    background-color: #ccc;
}

.btn[data-value="="] {
    background-color: #f57c00;
    color: white;
    flex-grow: 1;
}

